<!DOCTYPE html>
<html>
    <head>
        <title>Факультет</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form method="post">
            <table>
                <tr>
                    <td align="left"> Факультет: </td>
                    <td align="right"> <input type="text" name="faculty_name" value="{val_faculty_name}" size="50" maxlength="52"/> </td>
                    <td align="right"><span style="color: red;">{msg_validate}</span></td>
                </tr>
                <tr> 
                    <td colspan="2" align="right">
                        <hr>
                        <input type="submit" name="submit_val" value="Сохранить" />  
                        <input type="submit" name="submit_val" value="Отмена" /> 
                    </td> 
                </tr>
            </table>
            <input type="hidden" name="id" value="{id}" />
        </form>
    </body>
</html>
